<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <div class="sp-3"></div>
    <title>Satelistes</title>
</head>
<body>


<div class="row">

<div class="col-sm">

</div>

    <div class="col-sm text-center">
        <h1 class="text-center">Satelites</h1>

        <div >
            <tr th:each="usuario : ${satelites}">
                <th>
                    <td th:text="${ScheduledTasks}">

                    </td>
                </th>
            </tr>
        </div>

        <div class="col align-middle sp-3" style="">
            <a th:href="add" type="button" class="btn btn-primary">ADD</a>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${satelitesLista}">
                <th scope="row" th:text="${satelite.id}"></th>
                <td th:text="${satelite.name}"></td>
                <td th:text="${satelite.latitude}"></td>
                <td th:text="${satelite.longitude}"></td>
            </tr>

            </tbody>
        </table>



    </div>

    <div class="col-sm">

    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</body>
</html>
